@import "tailwindcss";

@layer base {
  html, body, #root {
    background-color: #070b13;
    color: #f1f5f9;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }
}
